@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #202020;
  font-family: "Montserrat", sans-serif;
}

.todo-list {
  list-style: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  .todo-item {
    width: 70%;
    padding: 1em 2em;
    background: #313131;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    color: #e0e0e0;
    align-items: center;
    margin-top: 1em;
    .left-operation {
      display: flex;
      align-items: center;
      .status {
        font-size: 2rem;
        margin-right: .5em;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          height: 0;
          width: 0;
          border-radius: 50%;
          background: #ffffff20;
          transition: height 100ms ease-in-out, width 100ms ease-in-out;
        }
        &:hover {
          &::after {
            height: 12px;
            width: 12px;
          }
        }
      }
      .task {
        position: relative;
        transition: 250ms ease-in-out;
        &::before {
          content: "";
          position: absolute;
          height: 1px;
          width: 0%;
          background: #e0e0e0;
          top: 50%;
          transition: width 250ms ease-in;
          right: 0;
        }
      }
    }
    .right-operation {
      i {
        color: #bfbfbf;
        font-size: 1.2rem;
        cursor: pointer;
        &.delete {
          margin-left: .6em;
        }
      }
    }
    &.done {
      .task {
        color: #e0e0e070;
        &::before {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
.add-task {
  position: absolute;
  right: 10%;
  top: 10%;
  color: #f7f7f7;
  display: flex;
  align-items: center;
  .input-wrapper {
    overflow: hidden;
    height: 2rem;
    .todo-input {
      height: 100%;
      font-family: "cascadia code";
      border: none;
      outline: none;
      border-radius: 50px;
      padding: 0 25px;
      transform: translateX(100%);
    }
  }
  .add-task-btn {
    font-size: 1.3rem;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    background: #202020;
    transition: transform 100ms ease-in-out;
  }
  &.show-input {
    .input-wrapper {
      overflow: visible;
      .todo-input {
        transform: translateX(8%);
      }
    }
  }
}